body {
    font-family: Arial, sans-serif; 
    background-color: #c1c4cd;; 
}

h2{text-align: center;}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="dates"],
textarea,
select {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px; 
}

label {
    font-weight: bold; 
}

.submit {
    padding: 10px 20px; 
    background-color: #8d8a8f; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.submit:hover {
    background-color: #ddc9de; 
}
.error {
    border-color: red; 
}

input[name="names"] {
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    padding: 8px; 
    width: 100%; 
    box-sizing: border-box; 
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

input[name="names"]:focus {
    border-color: #c1cedb; 
    outline: 0; 
    box-shadow: 0 0 0 0.2rem rgba(192, 194, 197, 0.25); 
}


input[name="names"][names="error"] {
    border-color: red; 
}